.hero-section{
    position: relative;
    width: 100%;
    min-height: 600px; 
    overflow: hidden; 

}
.logo {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%; 
    height: 900px;
    z-index: -1; 
}

.hero-text{
    position: absolute;
    top: 40%; 
    left: 10%;
    color: white;

}

.hero-text :first-child{
    font-weight: lighter;
    font-size: 26px;
    margin: 0%;
}
.hero-text :nth-child(2){
    margin-top: 2%;
    font-size: 36px;
}

.header{
    display: flex;
    flex-direction: column;
}

.hero-icons{
    height: 120px;
    background-color:rgba(252, 217, 177, 0.507);
    display: flex;
    justify-content: center;
    gap:12rem;
}
.icon{
    width: 54px;
}



.navbar{
    display: flex;
    justify-content: space-around;
    padding: 1rem;
}

.navbar a{
    color: antiquewhite;
    font-family: 'Courier New', Courier, monospace;
    font-size: 20px;
}
.call-to-action{
    border-radius: 16px;
    border: none;
    width: 110px;
    height: 36px;
    font-family: 'Courier New', Courier, monospace;
    font-weight: bold;
    font-size: 14px;
    cursor: pointer;

}
.call-to-action:hover{
    background-color: antiquewhite;
}

.search input{
    border-radius: 16px;
    border: none;
    width: 150px;
    height: 26px;
    margin-right: 6px;
}

.search button{
    border-radius: 16px;
    border: none;
    width: 80px;
    height: 26px;
    font-family: 'Courier New', Courier, monospace;
    font-weight: bold;
    font-size: 14px;
    cursor: pointer;
}

.search button:hover{
    background-color: antiquewhite;
}


