<div class="header">
    <div class="hero-section">
        <div class="navbar">
            <a *ngFor="let item of navbarItems">{{item.text}}</a>

            <!-- TODO Search dupa un nume de cafea -->
            
        </div>
    
        <div>
            <img src="assets/hero-section.jpg" alt="Logo" class="logo">
        </div>
    
        <div class="hero-text">
            <h1>Welcome! We serve the richest coffee in the city</h1> 
            <button class="call-to-action">Order Now</button>
        </div>
    
        
    </div>
    <div class="hero-icons">
    
    </div>  
</div>

