div{
    min-height: 100px;
    display: flex;
    flex-direction: column;
    align-items: center;
    background-color: rgb(236, 224, 211);
}


.coffee-cards{
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    gap: 2rem;
    margin-bottom: 3%;
}

.dessert-cards{
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    gap: 2rem;
    margin-bottom: 3%;
    
}